html {
    height: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;
}

body {
   margin: 0;
   padding: 1em;
}

h3 {
    margin: 0;
}

em {
    color: #bfbfbf;
}

.card {
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 2em 1em;
    max-width: 50em;
    background: white;
    margin-bottom: 1em;
}

.card img {
    position: relative;
    border-radius: 1em;
    width: 30%;
    max-width: 8em;
    min-width: 4em;
    height: auto;
}

.flex {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-start;
}

.flex-1 {
    flex: 1 1 0%;
    padding-left: 1em;
}

a {
    color: #3792fc;
    text-decoration: none;
}

a.btn {
    color: #fff;
    background: #3792fc;
    padding: 1em;
    border-radius: 1em;
}

.right {
    text-align: right;
}