
.c-grid
  display: grid
  @apply items-center justify-stretch gap-2

.min-width
  width: 100%

@media screen and (min-width: 550px)
  .min-width
    width: 550px

  .c-grid
    @apply justify-center

input, textarea
  padding: 0.3rem !important
  @apply border rounded p-2

input:disabled
  @apply bg-gray-200 cursor-not-allowed

label
  @apply font-bold



@keyframes rotate
  to
    transform: rotate(-360deg)

.loading-spinner
  animation: rotate 1.5s linear infinite