
.c-grid
  display: flex
  @apply items-center justify-stretch gap-2

.min-width
  width: 100%

@media screen and (min-width: 550px)
  .min-width
    width: 550px

  .c-grid
    @apply justify-center

input, textarea
  padding: 0.3rem
  outline: none
  @apply border rounded p-2

input:disabled,
textarea:disabled
  @apply bg-gray-200 cursor-not-allowed

label
  @apply font-bold

@keyframes rotate
  to
    transform: rotate(-360deg)

.loading-spinner
  animation: rotate 1.5s linear infinite

.send-button
  width: 40px
  height: 40px
  min-width: 40px
  min-height: 40px

  @apply flex items-center justify-center justify-self-center px-2 rounded-full  p-3


.stretch-item
  @apply flex items-center justify-between gap-1

  :nth-child(2)
    @apply unimportant
